<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="loginDAO">
    <resultMap id="userInfo" type="com.bbgg_dev.login.LoginVO">
        <result property="memberId" column="ID"/>
        <result property="memberPassword" column="PW" />
        <result property="memberName" column="NAME" />
        <result property="memberGender" column="GENDER" />
        <result property="memberBirth" column="BIRTH" />
        <result property="memeberEmail" column="EMAIL" />
    </resultMap>
    <select id="checkUser" resultType="login" resultMap="userInfo">
        select * from ebdb.MEMBER where id=#{memberId} and pw=#{memberPassword}
    </select>
</mapper>