<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PostDAO">
    <insert id="insertPost">
        insert into ebdb.POST(title, author, pmain_text, gu_name, dong_name)
        values (#{postTitle}, #{postAuthor}, #{postText}, #{guName}, #{dongName})
    </insert>
    <update id="updatePost">
        update ebdb.POST
        set title=#{postTitle},
            pmain_text=#{postText},
            gu_name=#{guName},
            dong_name=#{dongName}
        where pid = #{postId}
    </update>
    <update id="updateViewCount">
        update ebdb.POST
        set viewcount = viewcount + 1 where pid=#{postId}
    </update>
    <update id="updateRecordCount">
        update ebdb.POST
        set
    </update>
    <delete id="deletePost">
        delete
        from ebdb.POST
        where pid = #{postId}
    </delete>
    <resultMap id="postList" type="com.bbgg_dev.post.PostVO">
        <result property="postId" column="PID"/>
        <result property="postTitle" column="TITLE" />
        <result property="postAuthor" column="AUTHOR" />
        <result property="postDate" column="PDATE" />
        <result property="postViewCount" column="VIEWCOUNT" />
        <result property="postText" column="PMAIN_TEXT" />
        <result property="guName" column="GU_NAME" />
        <result property="dongName" column="DONG_NAME" />
    </resultMap>
    <select id="getPost" resultType="post" resultMap="postList">
        select *
        from ebdb.POST
        where pid = #{postId}
    </select>
    <select id="getPostList" resultType="post" resultMap="postList">
        select *
        from ebdb.POST
        order by pid
    </select>
    <select id="getPostByAuthor" resultType="post" resultMap="postList">
        select * from ebdb.POST where author like #{postAuthor};
    </select>
</mapper>