<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PostDAO">
    <insert id="insertPost">
        insert into ebdb.POST(title, author, pmain_text, gu_name, dong_name)
        values (#{postTitle}, #{postAuthor}, #{postText}, #{guName}, #{dongName})
    </insert>
    <update id="updatePost">
        update ebdb.POST
        set title=#{postTitle},
            pmain_text=#{postText},
            gu_name=#{guName},
            dong_name=#{dongName}
        where pid = #{postId}
    </update>
    <update id="updateViewCount">
        update ebdb.POST
        set viewcount = viewcount + 1
        where pid = #{postId}
    </update>
    <update id="updateRecoCount">
        update ebdb.POST
        set RECO_COUNT = RECO_COUNT + 1
        where pid = #{postId}
    </update>
    <delete id="deletePost">
        delete
        from ebdb.POST
        where pid = #{postId}
    </delete>
    <resultMap id="postList" type="com.bbgg_dev.post.PostVO">
        <result property="postId" column="PID"/>
        <result property="postTitle" column="TITLE"/>
        <result property="postAuthor" column="AUTHOR"/>
        <result property="postDate" column="PDATE"/>
        <result property="postViewCount" column="VIEWCOUNT"/>
        <result property="postRecoCount" column="RECO_COUNT"/>
        <result property="postText" column="PMAIN_TEXT"/>
        <result property="guName" column="GU_NAME"/>
        <result property="dongName" column="DONG_NAME"/>
    </resultMap>
    <select id="getPost" resultType="post" resultMap="postList">
        select *
        from ebdb.POST
        where pid = #{postId}
    </select>
    <select id="getPostList" resultMap="postList">
        select *
        from ebdb.POST
        order by pid desc
    </select>
    <select id="getPostByAuthor" resultType="post" resultMap="postList">
        select *
        from ebdb.POST
        where author like #{postAuthor};
    </select>
    <select id="getPostByRecoCount" resultType="post" resultMap="postList">
        select *
        from ebdb.POST
        order by RECO_COUNT desc
    </select>
    <select id="getPostByViewCount" resultType="post" resultMap="postList">
        select *
        from ebdb.POST
        order by VIEWCOUNT desc
    </select>
    <select id="getPostByGuName" resultType="post" resultMap="postList">
        select *
        from ebdb.POST
        where GU_NAME = #{guName}
        order by pid desc
    </select>
    <select id="getSearchPostList" resultType="post" resultMap="postList">
        SELECT *
        FROM ebdb.POST
        WHERE PMAIN_TEXT LIKE #{searchKeyword}
        OR TITLE LIKE #{searchKeyword}
        OR GU_NAME LIKE #{searchKeyword}
        OR DONG_NAME LIKE #{searchKeyword}
        OR AUTHOR LIKE #{searchKeyword}
        ORDER BY PID DESC
    </select>
</mapper>