<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SignUpDAO">
    <insert id="insertMember">
        insert into mysql.member(id, pw, name, gender, birth, email)
        values (#{id}, #{pw}, #{name}, #{gender}, #{birth}, #{email})
    </insert>
    <delete id="deleteMember">
        delete from mysql.member where id=#{id}
    </delete>
    <select id="findId" resultType="signUp">
        select id from mysql.member where email=#{email}
    </select>
    <select id="findPassword" resultType="signUp">
        select pw from mysql.member where id=#{id}
    </select>
    <select id="idCheck" resultType="signUp">
        select * from mysql.member where id=#{id}
    </select>
</mapper>