@charset "UTF-8";
/*메인페이지 본문*/
table {
    text-align: center;
}

table th {
    border-bottom: solid;
    border-color: rgb(200, 200, 200);
}

table td {
    border-bottom: 0.5px solid;
    border-color: rgb(220, 220, 220);
}
td > a{
    text-decoration: none;
}

th:nth-child(1) {
    width: 40px;
}
td:nth-child(1) {
    width: 40px;
}
th:nth-child(2) {
    width: 150px;
}
td:nth-child(2) {
    width: 150px;
}
th:nth-child(3) {
    width: 400px;
}
td:nth-child(3) {
    text-align: left;
    width: 400px;
}
th:nth-child(4) {
    width: 80px;
}
th:nth-child(4) {
    width: 80px;
}
th:nth-child(5) {
    width: 80px;
}
th:nth-child(5) {
    width: 80px;
}
th:nth-child(6) {
    width: 100px;
}
th:nth-child(6) {
    width: 100px;
}
th:nth-child(7) {
    width: 80px;
}
th:nth-child(7) {
    width: 80px;
}