@charset "UTF-8";
/*메인*/
body {
	padding-top: 70px;
	background-color: rgb(250, 250, 250);
}

div.write {
	width: 800px;
	height: auto;
	color: black;
	margin: 50px auto;
	font-size: 1rem;
	background-color: rgb(255, 255, 255);
	border: 0.5px solid rgb(233, 233, 233);
	padding: 10px;
	top: 0;
	border-radius: 25px;
}
/*제목*/
p.title {
	height: 40px;
	font-size: 25px;
	width: 780px;
	padding: 10px;
	outline: none;
	float: left;
}
/*목록 수정 삭제 */
button.next {
	width: 70px;
	height: 30px;
	border: 0.5px solid rgb(200, 200, 200);
	background-color: rgb(255,255,255)!important;
	outline: none;
	float: right;
	color: rgb(0, 0, 0)!important;
	margin:5px;

}
div.pdate{
	border-bottom: 1px solid ;
	border-color: rgb(200,200,200);
	padding:30px;
}
/*글 작성*/
div.detailcontent {
	font-size: 12pt;
	padding:20px;
	top-margin:500px;
	height: auto;
	border-bottom: 1px solid;
	border-color: rgb(200,200,200);
}
/*댓글*/
textarea.detailcomment {
	border: 2px solid teal;
	font-size: 12pt;
	width: 744px;
	height: 39px;
	resize: none;
	left: 50%;
}
button.comment {
	margin: 0px;
	width: 48px;
	height: 47px;
	border: 0px;
	padding: 0px;
	background-color: teal;
	outline: none;
	float: right;
	color: rgb(250, 250, 250);
}

p.commentlist {
	border-bottom: 1px solid teal;

}
a.comment{
	float: right;
	text-decoration: none;
	padding:0.2rem;
	color:rgb(50,50,50);
}
span{
	font-size:0.813rem;
	color: rgb(100,100,100);
}
span.author{
	color: rgb(10,10,10);
	font-size:1rem;
}
.like-content .btn-secondary {
	margin:5px;
	height:30px;
	width:100px;
	float: left;
	display: block;
	text-align: center;
	background: #ed2553;
	font-size: 1rem;
	cursor: pointer;
	border: none;
	outline: none;
	color: #ffffff;
	text-decoration: none;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}
.like-content .btn-secondary:hover {
	transform: translateY(-3px);
}
.like-content .btn-secondary .fa {
	margin-right: 5px;
}
.animate-like {
	animation-name: likeAnimation;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-duration: 0.65s;
}
@keyframes likeAnimation {
	0%   { transform: scale(30); }
	100% { transform: scale(1); }
}
